# Overall configuration file

[Video]
FPS=20

[Detection]
min_detections=10
min_confidence=0.7
; If enabled, sets a threshold in seconds for how long the detection will pause after a detection; -1 = disabled
DetectionStopThresholdSeconds=20

[ZmqCamera]
IP=127.0.0.1
Port=5454
Protocol=tcp
; 0=zmq.PAIR, 1=zmq.REQ/zmq.REP; 2=zmq.PUB,zmq.SUB
Pattern=1

[ZmqServer]
IP=127.0.0.1
Port=5454
Protocol=tcp
; 0=zmq.PAIR, 1=zmq.REQ/zmq.REP; 2=zmq.PUB,zmq.SUB
Pattern=1

[Tensorflow]
ModelUrl=ssdlite_mobilenet_v2_coco_2018_05_09
LabelMapPath=models/research/object_detection/data/mscoco_label_map.pbtxt # Should be an absolute path

[Plugins]
UseSenderThread=False
Enabled=store_video,audio
Disabled=