tensorflow>="2.*"
Pillow==7.1.2
lxml==4.4.2
matplotlib==3.1.2
opencv-python==4.1.2.30
pycocotools==2.0.0
numpy==1.18.0
pyzmq==18.1.1
libopencv==0.0.1
playsound==1.2.2
pytest==5.3.2
pytest-cov==2.8.1
#PyGObject==3.36.1
colorlog==4.1.0
asyncio==3.4.3
vidgear==0.1.8