Pillow==7.1.2
lxml==4.4.2
matplotlib==3.1.2
opencv-python==4.1.2.30
pyzmq==18.1.1
opencv-contrib-python==3.4.10.35
playsound==1.2.2
pytest==5.3.2
pytest-cov==2.8.1
#pygobject
colorlog==4.1.0
asyncio==3.4.3
vidgear==0.1.8
pycocotools==2.0.1